<header id="header">
	<div class="container">

		<div id="logo" class="pull-left">
			<h1><a href="#body" class="scrollto" style="text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;">
				<img src="/assets/img/apple-touch-icon.png" style="width: 45px;"> Holochain<span>Projects</span></a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->

		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a href="#about">About</a></li>
				<li><a href="#services">Featured</a></li>
				<li><a href="#portfolio">Index</a></li>
				<li class="menu-has-children"><a href="">Login/Register</a>
					<ul>
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
					</ul>
				</li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav><!-- #nav-menu-container -->
	</div>
</header><!-- #header -->